.cache/
.dbus/
.Xauthority
.pki/
backup/
gamehub-console/logs/
gamehub-console/__pycache__/
*.pyc
.config/chromium/
.config/com.raspberrypi.connect/
.config/dconf/
.config/gtk-3.0/
.config/labwc/
.config/pulse/
.config/systemd/
.config/user-dirs.dirs
.config/user-dirs.locale
.local/bin/
.local/lib/
.local/share/fonts/
.local/share/keyrings/
.local/share/nano/
